<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- bootstrap 4.0 -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <!-- Style custom -->
    <link href="~/Content/style.css" rel="stylesheet" />

    <!-- Glide slider -->
    <link href="~/Content/glide-master/dist/css/glide.core.css" rel="stylesheet" />
    <link href="~/Content/glide-master/dist/css/glide.theme.min.css" rel="stylesheet" />

    <!-- fontawesome -->
    <link href="~/Content/fontawesome/css/css/fontawesome-all.css" rel="stylesheet" />

    @*<script type="text/javascript">
		window.setInterval('energia()', 500);
    </script>*@

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Content/glide-master/dist/glide.js"></script>

	 
    <script>
        //var glide = new Glide('.glide', {
        //    type: 'slider',
        //    startAt: 1,
        //    perView: 10,
        //    focusAt: 'center'
        //}).mount();

        //function energia() {
        //    console.log("entrou")
        //    $(".lampadas").each(function (i, e) {
        //        var self = $(e);

        //        if (self.hasClass("lampada-on")) {
        //            self.removeClass("lampada-on", 1500);
        //        } else {
        //            self.addClass("lampada-on");
        //        }

        //    });
        //}
    </script>
</body>
</html>
